.ring{
    background-color: var(--back__color);
    margin: auto;
}

.form h2{
    font-size: 2em;
    color: #fff;
}

.form .inputBx{
    position: relative;
    width: 100%;
}

.form .inputBx input{
    position: relative;
    width: 100%;
    padding: 12px 28px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 40px;
    font-size: 1.2em;
    color: #fff;
    box-shadow: none;
    outline: none;
}

.form .inputBx input[type="file"]{
    padding: 0;
    border-radius: 0;
    border: none;
}


.form .inputBx input[type="submit"]{
    width: 100%;
    background: #0078ff;
    background: linear-gradient(45deg, #ff357a, #fff172);
    border: none;
    cursor: pointer;
}

.form .inputBx label{
    background-color: var(--back__color);
    position: absolute;
    left: 20px;
    pointer-events: none;
    z-index: 1;
    transition: 0.4s;
    top: -10px;
    transform: translateY(0);
    font-size: 16px;
    color: rgba(255, 255, 255, 0.95);
}
.form .inputBx label span{
    margin: 0 5px;
}


.form .links{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.form .links a{
    color: #fff;
    text-decoration: none;
}

.ring{
    position: relative;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ring i {
    position: absolute;
    inset: 0;
    border: 1px solid #fff;
    transition: 0.5s;
    --color: #000;
}

.ring i:nth-child(1){
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    animation: animate 6s linear infinite;
}
.ring i:nth-child(2){
    border-radius: 41% 44% 56% 59% / 38% 62% 63% 37%;
    animation: animate 4s linear infinite;
}
.ring i:nth-child(3){
    border-radius: 41% 44% 56% 59% / 38% 62% 63% 37%;
    animation: animate2 10s linear infinite;
}

.ring:hover i {
    border: 6px solid var(--clr);
    filter: drop-shadow(0 0 20px blue);
}

.form{
    position: absolute;
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

@keyframes animate  {
    0%{
        transform: rotate(0deg);
    }100%{
        transform: rotate(360deg);
    }
}

@keyframes animate2  {
    0%{
        transform: rotate(360deg);
    }100%{
         transform: rotate(0deg);
     }
}